// //////////////////////
// MIXINS
// /////////////////////


@import url('https://fonts.googleapis.com/css?family=Pacifico');

$font-stack:    Helvetica, sans-serif;
$primary-color: ghostwhite;
$neutral-color: #ddd;
$secondary-color: #1D517F;
$dark-color: #1B202A;
$breaking-point-tablet: 768px;



// //////////////////////
// GENERAL CODE
// /////////////////////

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $primary-color;

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: $neutral-color;

  a {
    width: 70%;

    .logo {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: 30px;
      font-family: Pacifico;
      color: $dark-color;

      h1 {
        font-size: 200%;
        margin: 10px 0;
      }
    }
  }

  .header-avatar-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
  }

  .header-link-container {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


.poster {
  background: $secondary-color;
  background: url('/assets/min-code-on-screen.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}

.poster--title {
  color: $primary-color;
  font: 80px Pacifico;
  max-width: 90%;
  text-shadow: 5px 4px 2px black;
}

.search-wrapper {
    height: 62px;
    line-height: 61px;
    display: block;
    background: white;
    border-bottom: 1px solid #484848;
    text-align: center;

    input{
      max-height: 100%;
      border: none;
      border-right: 1px solid #484848;
      border-left: 1px solid #484848;
      min-width: 75%;
      text-align: center;
    }
}

.trivia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
}

.trivia--game {
  height: 200px;
  width: 200px;
  border: 3px solid $dark-color;
  display: inline-block;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.categoryTitle {
  position: absolute;
    top: 0;
    left: 5px;
    text-transform: uppercase;
}

.topic-link-container {
  padding: 20px;
  text-align: center;

  a {
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s;
  }

  a:hover, a:focus, a:active {
    color: $secondary-color;
    text-decoration: none;
  }
}

.trivia--game:hover, .trivia--game:focus, .trivia--game:active , aside .trivia--game{
  box-shadow: -10px -10px 0px 0px #3E842E;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 10px 10px 0;
}

// //////////////////////
// USER DETAILS
// /////////////////////

.userDetails {
  position: absolute;
  background: $neutral-color;
  right: 25px;
  top: 100px;
  min-width: 220px;
  min-height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;

  &--avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sugestions {
  margin: 0;
    padding: 0;
    position: absolute;
}

.suggestions li {
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin:0;
  padding:20px;
  transition:background 0.2s;
  display:flex;
  justify-content:space-between;
  text-transform: capitalize;
}

.suggestions li span span {
    background:#ffc600;
}

// /////////////////////////////////////////////////
// SIGN UP, LOG IN, PW RESET & PAGE NOT FOUND PAGES
// ////////////////////////////////////////////////

.reset-passwrod-container,
.page-not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.reset-passwrod-container {
  button {
    margin-top: 20px;
    width: 25%;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  input {
    width: 40vw;
    margin: 20px;
    padding: 10px;
  }
  .error-message {
    color: red;
    font-size: 130%;
    margin-bottom: 10px;
  }
}

.page-not-found-container {
  p {
    margin-top: 30px;
    font-size: 150%;
  }
}

.sign-up-container,
.log-in-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .error-message {
    color: red;
    font-size: 130%;
    margin-bottom: 10px;
  }

  button {
    width: 25%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }

  a {
    margin-bottom: 20px;
  }

  input {
    width: 25%;
    margin: 10px;
    padding: 10px;
  }
}

.avatar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  
  h4 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
}

.avatar-img {
  width: 10%;
  cursor: pointer;
}

.avatar-selected {
  border: green solid 1px;
  border-radius: 30px;
}

// //////////////////////
// QUIZ COMPONENT
// /////////////////////

.quiz-title {
  text-align: center;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-container {
  text-align: center;
}

.quiz-container h3 {
  text-decoration: underline;
}

.prepare-for-quiz { 
  margin-top: 25%;

  h3 {
    margin-bottom: 40px;
  }
}

.answer-btn {
  width: 40%;
  margin: 5%;
  white-space: wrap;
}

.countdownNum {
  text-align: center
}

// //////////////////////
// HIGH SCORES
// /////////////////////

.top-scores {
  padding: 20px;

  .user--identifier {
    width: 25%;
    position: relative;

    .display {
      position: relative;
      top: -20px;
    }
  }
}

.score-display {
  font-size: 46px;
  font-family: courier;
}

.highScore--User {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scoreProgress { 
  border: 1px solid black;
  width: 150px;
  height: 15px;
}

.scoreProgress--filled {
  background: #F6D5E0;
  height: 100%;
  width: 50%;
}

// //////////////////////
// MEDIA QUERIES
// /////////////////////

@media (max-width: $breaking-point-tablet) {
  header {
    .logo{
      margin: 0;
    }
    .header-avatar-container {
      width: 30%;
    }
    .header-link-container {
      width: 30%;
      padding: 3%;
    }  
  }

  .poster--title {
    font-size: 250%
  }
  
  .top-scores {
    display: none;
  }

  .prepare-for-quiz { 
    margin-top: 10%;
  }

  .sign-up-container input, 
  .log-in-container input,
  .reset-passwrod-container input {
    width: 70%;
  }
}