// //////////////////////
// MIXINS
// /////////////////////

$font-stack:    Helvetica, sans-serif;
$primary-color: ghostwhite;
$neutral-color: #ddd;
$secondary-color: #1D517F;
$dark-color: #1B202A;

// //////////////////////
// GENERAL CODE
// /////////////////////

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background: $primary-color;

}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
    background: $neutral-color;
}

.logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
}

.poster {
	background: $secondary-color;
	background: url('/assets/min-code-on-screen.jpg');
	background-size: cover;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center
}

.poster--title {
	color: $primary-color;
	font: 80px cursive;
	max-width: 60%;
	text-shadow: 5px 4px 2px black;
}

.trivia {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 40px 20px;
}

.trivia--game {
	height: 200px;
	width: 200px;
	border: 3px solid $dark-color;
	display: inline-block;
	margin: 20px auto;

}

.avatar {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 10px;
}

// //////////////////////
// USER DETAILS
// /////////////////////

.userDetails {
	position: absolute;
	background: $neutral-color;
	right: 25px;
	top: 100px;
	min-width: 220px;
	min-height: 265px;
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userDetails--avatar {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0 0 30px;
}

.sugestions {
	margin: 0;
    padding: 0;
    position: absolute;
}

.suggestions li {
	background:white;
	list-style: none;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	margin:0;
	padding:20px;
	transition:background 0.2s;
	display:flex;
	justify-content:space-between;
	text-transform: capitalize;
}

.suggestions li span span {
    background:#ffc600;
}


